@font-face {
    font-family: popreg;
    src: url("/public/poppins-regular-webfont.woff2") format("woff2")
        url("/public/poppins-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
